body {
  height: 30em;
  margin: 0;
  padding: 0;
  background-color: #fff7d1;
}
.NewBoardBoard_img1 {
  position: relative;
}
.NewBoardBoard_nav1 {
  width: 100%;
  height: 55px;
  background-color: rgba(231, 184, 184, 0);
  background-image: linear-gradient(#ffffff, #ffffff);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  font-family: Times New Roman, serif;
  color: #070707;
  font-size: 16px;
  letter-spacing: normal;
  text-decoration-style: unset;
  display: flex;
  gap: 20px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
  list-style-type: none;
  list-style-position: inside;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.NewBoardBoard_a1 {
  color: #000000;
}
.NewBoardBoard_a2 {
  color: #000000;
}

.NewBoardBoard_img1 {
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.NewBoardBoard_a3 {
  color: #015aa6;
  text-transform: uppercase;
}
.NewBoardBoard_a4 {
  color: #e9013d;
  text-transform: uppercase;
}
.NewBoardBoard_a5 {
  color: #015aa6;
  text-transform: uppercase;
}
.NewBoardBoard_a6 {
  text-transform: uppercase;
  color: #e9013d;
}
.NewBoardBoard_a7 {
  color: #000000;
  text-transform: uppercase;
}
.NewBoardBoard_header1 {
  font-family: Arial, sans-serif;
  position: sticky;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
}
.NewBoardBoard_p1 {
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-right: 30px;
  font-family: Arial, sans-serif;
}
.NewBoardBoard_div1 {
  position: relative;
}
.NewBoardBoard_img2 {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  width: 50%;
  margin-bottom: 120px;
  overflow: visible;
}
.NewBoardBoard_header2 {
  background-color: #fffae9;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: -0.17px 3px 2px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.NewBoardBoard_header3 {
  background-color: #fffcf5;
  display: flex;
}
.NewBoardBoard_header4 {
  background-color: #fffcf5;
  border: 0px solid black;
  border-radius: 30px;
}
.NewBoardBoard_header5 {
  background-color: #fffcf5;
  border-radius: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
}
.NewBoardBoard_div2 {
  display: grid;
  grid-auto-flow: column;
  column-gap: 100px;
}
.NewBoardBoard_p2 {
  font-size: 15px;
  font-weight: 300;
}
.NewBoardBoard_div3 {
  display: grid;
  grid-auto-flow: column;
}
.NewBoardBoard_header6 {
  background-color: #fffcf5;
  border-radius: 10px;
  height: 140px;
  width: 350px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 10em;
  box-shadow: 4.95px 4.95px 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  font-size: 22px;
}
.NewBoardBoard_header7 {
  background-color: #fffcf5;
  height: 150px;
  border-radius: 10px;
  width: 350px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 4.95px 4.95px 10px rgba(0, 0, 0, 0.53);
  font-family: Arial, sans-serif;
}
.NewBoardBoard_header8 {
  background-color: #fffcf5;
  height: 140px;
  width: 350px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  box-shadow: 4.95px 4.95px 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.NewBoardBoard_p3 {
  font-size: 18px;
  font-weight: 100;
}
.NewBoardBoard_p4 {
  font-size: 17px;
  font-weight: 100;
}
.NewBoardBoard_p5 {
  font-size: 18px;
  font-weight: 100;
}
.NewBoardBoard_header9 {
  font-family: Arial, sans-serif;
}
.NewBoardBoard_header10 {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 80px;
  display: flex;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  align-items: center;
  text-transform: none;
  height: 20em;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1.1px 3px 20px rgba(0, 0, 0, 0.6);
  border-radius: 1px;
}
.NewBoardBoard_p6 {
  display: block;
}
.NewBoardBoard_button1 {
  background-color: #fff7d1;
  border: 1px solid #fff1d7;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  height: 3em;
  width: 10em;
}
.NewBoardBoard_p7 {
  font-size: 19px;
}
.NewBoardBoard_header11 {
  background-color: #ffd090;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
