/* login */
.PageLoginBoard_header2 {
  font-size: 35px;
  color: #e9013d;
  font-family: Comic Sans MS, cursive;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* form */
  .PageLoginBoard_form2 {
    width: 30em;
    height: 40em;
    
  
  }
/* input email */
.PageLoginBoard_input4 {
  height: 3em;
  width: 98%;
  border-radius: 3px;
  align-items: center;
}
/* input senha */
.PageLoginBoard_input5 {
  height: 3em;
  width: 98%;
  margin-top: 6px;
  border-radius: 3px;
}
/* email */
.PageLoginBoard_label3 {
  font-size: 30px;
}
/* senha */
.PageLoginBoard_label4 {
  font-size: 30px;
}

/* botao */
.PageLoginBoard_input6 { 
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 3px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
}
